/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

/*
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
	/* colors */
	--white: #fff;
	--background-color: #fff;
	--dark-purple: #8e7dda;
	--light-purple: #dedaf0;
	--medium-purple: #9f6ec7;
	--light-syrine: #c9d4ea;
	--muted-white: #e9e9e9;
	--text-info-bg-black: #3253cb;
	--dark-black: #000;
	--dark-grey: #6c6c6c;
	--darker-grey: #414141;
	--dark-light-grey: #8c8c8c;
	--middle-grey: #bfbfbf;
	--light-grey: #d7d7d7;
	--lightest-grey: #e3e3e3;
	--primary-blue: #577ecc;
	--blue: rgb(91, 139, 233);
	--dark-blue: #3253cb;
	--red: #dc3c4b;
	--delete-button-red: #ff2b2b;
	--clickable-filed-btn-color-grey: #e6e6e6;

	/* Text Colors */
	--text-white: #fff;
	--text-black: #000;
	--text-pink: #f0edff;

	/* Margin and Paddings */
	--margin-smallest: 5px;
	--margin-small: 25px;
	--margin-medium: 40px;
	--margin-large: 85px;

	--margin-from-navbar: 15px;
	--padding-files-container: 9px;
	--margin-content-container: 50px;
	--margin-content-summary-bottom: -75px;
	--min-qa-width: 225px;
	--max-qa-width: 450px;

	/* Radius */
	--smallest-round-radius: 10px;
	--small-round-radius: 15px;

	/* Font-Size */
	--files-font-size: 1.1em;
	--h1-font-size: 2.5em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	/* overflow: hidden;  */
}

header {
	height: 100vh;
	width: 100vw;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

hr {
	visibility: hidden;
}

.own-container {
	max-width: 1200px;
	margin-left: 105px;
}

.own-navbar {
	color: var(--muted-white);
	background-color: var(--dark-purple);
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
	min-height: 38px;
}

.own-nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.own-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light-purple);
	margin-left: 20px;
}

.own-logo-subtitle {
	font-size: 12px;
	color: var(--light-grey);
}

.own-text-logo {
	margin-right: 30px;
}

.logo-container svg g path {
	fill: darkslateblue;
}

.own-nav-content ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.own-nav-content ul li a {
	color: white;
	text-decoration: none;
	padding: 22px;
	white-space: nowrap;
}

.own-nav-content ul li a:hover {
	/* background-color: var(--medium-purple)  */
	color: var(--light-purple);
	border-bottom: 3px solid var(--light-syrine);
}

.nav-links {
	position: relative;
	left: 75px;
}

button {
	cursor: pointer;
}

.main-content {
    height: 92%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.sidebar {
	position: relative;
	top: 0px;
	width: 17.5%;
	height: 100%;
	border-right: 1px solid var(--dark-light-grey);
	min-width: 250px;
}

.sidebar .file-title {
    height: 7%;
    padding: 15px;
    margin-bottom: 10px;
}

.file-title button {
	width: 40px;
    position: absolute;
    top: 10px;
    right: 5px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 5px;
}




.sidebar .file-title::after {
	display: block;
	content: '';
	background: var(--middle-grey);
	height: 1px;
	margin-top: 5px;
	margin-left: -5px;
}

.sidebar .files {
	overflow: scroll;
	height: calc(93% - 118px);
	border-bottom: 1px solid var(--light-grey);
	padding: 0 2px;
}

.sidebar .files ul {
	list-style: none;
}

.sidebar .files ul li {
	position: relative;
	cursor: pointer;
	padding-left: 15px;
	margin-top: 10px;
	font-size: var(--files-font-size);
	color: #6c6c6c;
}

.sidebar .files ul li:hover {
	opacity: 0.9;
	border-left: var(--dark-purple) 8px solid;
	margin-left: 5px;
	padding-left: 2px; /* Margin-left + padding-left = 7px */
	color: #464646;
}

.files ul li span:last-child {
	position: absolute;
	right: 15px;
    top: 0px;
    margin: 0 auto;
}

.selected-file {
	/* background-color: var(--light-purple); */
	color: #7483ea !important;
}

.unselected-file {
	color: var(--middle-grey);
}

.files ul li span:nth-child(2) svg g path {
	stroke: rgb(185, 185, 185) !important;
}

.files ul li span:nth-child(2) svg:hover g path {
	cursor: pointer;
	stroke: rgb(226, 0, 20) !important;
}

.upload {
	position: relative;
	background-color: var(--lightest-grey);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.upload button {
	position: relative;
	background-color: #ffffff;
	color: var(--dark-purple);
	text-align: center;
	font-size: 0.9em;
	margin-top: 25px;
	padding: 10px 5px;
	border-radius: 30px;
	width: 145px;
	display: inline-block;
	text-decoration: none;
	top: 5px;
	border: 2px solid var(--dark-purple);
	margin: 5px 0px;
	margin-bottom: 12px;
	font-weight: 600;
}

.upload button:hover {
	background-color: var(--dark-purple);
	color: var(--white);
}

.upload button p {
	width: 110px;
}

.delete-all-files {
	background-color: var(--lightest-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #bbbbbb;
	box-shadow: -16px 5px 20px 6px rgb(216, 216, 216);
}

.delete-all-files button {
	position: relative;
	background-color: var(--delete-button-red);
	color: white;
	padding: 10px 5px;
	border-radius: calc(var(--small-round-radius) + 15px);
	text-decoration: none;
	z-index: 5;
	margin-bottom: 10px;
	width: 150px;
	border: 2px solid #b91d1d;
	opacity: 0.9;
	font-size: 0.9em;
	font-weight: 600;
}

.delete-all-files button:hover {
	background-color: #b91d1d;
}

.delete-all-files button p {
	width: 110px;
}

.delete-all-files button svg {
	position: absolute;
	top: 10px;
	right: 20px;
}

/*
.delete-all-files::after {
  position: absolute;
  content: "";
  width: 159px;
  height: 72px;
  background-color: var(--red);
  top: 686px;
  left: 59px;
  border-radius: var(--smallest-round-radius);
  z-index: 1;
}
*/

.summary {
	position: relative;
	width: 32%;
	height: 80%;
	border: 1px solid var(--light-grey);
	border-radius: var(--small-round-radius);
	overflow: hidden;
	margin-left: 2%;
	margin-top: -5px;
	-webkit-box-shadow: -2px 4px 20px 6px rgba(218, 218, 218, 1);
	-moz-box-shadow: -2px 4px 20px 6px rgba(218, 218, 218, 1);
	box-shadow: -2px 4px 20px 6px rgba(218, 218, 218, 1);
}

.summary .content-title,
.chat .content-title {
	height: 8%;
	background-color: var(--dark-grey);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Noto Serif', sans-serif;
	font-size: 1.2rem;
	padding: 5px 0;
	border-top-left-radius: var(--smallest-round-radius);
	border-top-right-radius: var(--smallest-round-radius);
}

.summary .content-subtitle,
.chat .content-subtitle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5%;
	color: #e4e4e4;
	text-align: center;
	background-color: var(--dark-light-grey);
}

.summary .content-main,
.chat .content-main {
	height: 72%;
	border-bottom: 2px solid #ddd;
	overflow: scroll;
	padding: 25px;
	width: 100%;
	scroll-behavior: smooth;
}

.summary .content-detail,
.chat .content-detail {
	position: relative;
	bottom: 0px;
	height: 15%;
	background-color: var(--lightest-grey);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	/*
  border-bottom-left-radius: var(--small-round-radius);
  border-bottom-right-radius: var(--small-round-radius);
  */
}

.summary .content-detail ul {
	list-style: none;
}

.summary .content-detail ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: calc(-1 * calc(var(--margin-smallest)) + 4px);
	font-size: 14px;
	margin-left: 10px;
	visibility: hidden;
}

.summary .content-detail ul li span:last-child {
	color: var(--primary-blue);
	left: 150px;
	position: absolute;
}

.chat {
	position: relative;
	width: 40%;
	height: 80%;
	border: 1px solid var(--light-grey);
	border-radius: var(--small-round-radius);
	overflow: hidden;
	margin-right: 5%;
	margin-top: -5px;
	-webkit-box-shadow: -2px 4px 20px 6px rgba(218, 218, 218, 1);
	-moz-box-shadow: -2px 4px 20px 6px rgba(218, 218, 218, 1);
	box-shadow: -2px 4px 20px 6px rgba(218, 218, 218, 1);
}

.chat .content-main .qa-content {
	display: flex;
	flex-direction: column;
}

.chat .content-main .qa-content .question {
	background-color: var(--dark-purple);
	color: var(--text-white);
	padding: 10px;
	border-radius: var(--small-round-radius);
	display: inline;
	align-self: flex-end;
	max-width: 300px;
}

.chat .content-main .qa-content .answer {
	margin: 20px 0;
	background-color: var(--light-purple);
	color: var(--text-black);
	justify-self: flex-start;
	padding: 10px;
	border-radius: var(--small-round-radius);
	max-width: 300px;
}

.chat .content-main .qa-content .answer p:first-child {
	color: var(--dark-purple);
	font-weight: 600;
}

.question p:first-child {
	color: var(--darker-grey);
	font-weight: 600;
}

.chat .content-detail form .form-group textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border-radius: var(--smallest-round-radius);
	border: 0.5px solid var(--dark-light-grey);
	padding: 5px 10px;
}

.chat .content-detail form {
	width: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.question-area {
	width: calc(100% - 30px - 15px - 65px - 15px);
	min-width: 150px;
    position: absolute;
    left: 30px;
    height: 70%;
}

.content-info {
	position: absolute;
	left: 20px;
}

.chat .content-detail form button {
	background-color: var(--primary-blue);
	padding: 4px;
	color: white;
	border: none;
	border-radius: var(--small-round-radius);
	font-size: 1em;
	width: 65px;
	position: absolute;
	right: 15px;
    font-weight: 600;
    bottom: 14px;
}

.chat .content-detail form button:hover {
	background-color: var(--dark-blue);
}

.qa-score {
	margin-top: 5px;
	/* border-top: 1px solid var(--middle-grey); */
	position: relative;
	padding-top: 2px;
}

.qa-score-title {
	font-size: 0.95em;
	color: var(--dark-grey);
}

.qa-score-rating {
	position: absolute;
	top: 4px;
	left: 145px;
}

.qa-score-rating img {
	margin: 0px -2px;
}

/* Score for qa  - grey stars */
.inactive-score {
	opacity: 0.5;
	filter: grayscale(100);
}

/* TODO: Add save button later */
.content-save {
	display: none;
	position: absolute;
	top: 30%;
	right: 25px;
}

.content-save:hover {
	cursor: pointer;
}

.save-icon > g {
	fill: var(--medium-purple);
	-webkit-transition: fill 100ms ease-in-out;
	-moz-transition: fill 100ms ease-in-out;
	-ms-transition: fill 100ms ease-in-out;
	-o-transition: fill 100ms ease-in-out;
	transition: fill 100ms ease-in-out;
}

.save-icon:hover > g {
	fill: var(--dark-blue);
}
.inactive-score {
	opacity: 0.5;
}

/* FROM SEBBE */

.landing-main-content {
	/* url("maze-light-purple.png") */
	background: url('maze-light-purple.png') center center/cover no-repeat;
	height: 92%;
	width: 100%;
}
.main-container {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.jumbotron,
.more-jumbotron {
	background-color: white;
	width: 100%;
	height: 90%;
	text-align: center;
	box-shadow: -1px 6px 16px 6px rgba(181, 181, 181, 0.57);
}
.more-jumbotron {
	height: 85%;
	width: 66%;
	margin: 0 auto;
	margin-top: -50px;
}

.jumbotron .title {
	padding-top: 40px;
}

.jumbotron .title h1 {
	font-size: var(--h1-font-size);
	color: var(--dark-purple);
}

.jumbotron .title p {
	color: var(--dark-light-grey);
}

.upload-section {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 60%;
}

.upload-section .file-upload {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 40%;
}

.file-upload ul {
	position: absolute;
	bottom: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 85%;
	width: 80%;
}

.file-upload ul li {
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 5px;
	border-radius: 15px;
	background-color: #91e8b7;
	color: rgb(26, 68, 151);
	/*
  background-color: #e1e1e1;
  color: #3c3c3c;
  */
	border: 1px solid #00b05e;
}

.file-upload-container label {
	cursor: pointer
}

.file-upload-container label span:last-child {
	position: absolute;
	bottom: 15%;
	width: 100%;
}

.upload-icon-text {
	bottom: calc(15% - 15px);
}

.upload-icon-text::after {
	content: 'Supports: .txt, .story, .pdf files';
	display: block;
	color: #b5b5b5;
	font-size: 0.85em;
}

.file-upload .file-upload-container label span:first-child {
	bottom: calc(15% - 10px);
}

.file-upload .file-upload-container label span:last-child::after {
	content: 'Supports .txt, .story and .pdf';
	position: relative;
	display: block;
	font-size: 0.8em;
	line-height: 0.8em;
	color: #969696;
}

.form-check-summary {
	padding-top: 0px;
	position: relative;
	top: 5px;
	width: 90%;
}

.form-check-summary .text {
	position: absolute;
	left: -20px;
	color: #bfbfbf;
	font-size: 0.95em;
	width: 100%;
}

.form-check-summary .bold {
	color: var(--dark-grey);
}

.form-check-summary .icons {
	position: absolute;
	right: 0px;
}

.fa-question-circle {
	position: absolute;
	font-size: 22px;
	color: var(--primary-blue);
	right: 22px;
}

.cbx input[type='checkbox'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	margin: 0;
}

.cbx input[type='checkbox']:focus {
	outline: 0;
}

.cbx {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 1px;
	right: 0px;
}

.cbx input {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 2px solid var(--dark-purple);
	border-radius: 50%;
	background-color: var(--clickable-filed-btn-color-grey);
}

.cbx label {
	width: 24px;
	height: 24px;
	background: none;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	filter: url(#goo);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: none;
	padding: 5px !important;
	border: 2px solid var(--dark-purple);
}

.cbx svg {
	position: absolute;
	top: 2px;
	left: 4px;
	z-index: 1;
	pointer-events: none;
}

.cbx svg path {
	stroke: #fff;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 19;
	stroke-dashoffset: 19;
	-webkit-transition: stroke-dashoffset 0.3s ease;
	-moz-transition: stroke-dashoffset 0.3s ease;
	-ms-transition: stroke-dashoffset 0.3s ease;
	-o-transition: stroke-dashoffset 0.3s ease;
	transition: stroke-dashoffset 0.3s ease;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* THIS SOLUTION ONLY TO INCLUDE FIREFOX */
.cbx input:checked {
	-webkit-animation: splash 0.6s ease forwards;
	-moz-animation: splash 0.6s ease forwards;
	-ms-animation: splash 0.6s ease forwards;
	-o-animation: splash 0.6s ease forwards;
	animation: splash 0.6s ease forwards;
	border: 1px solid #7154ff;
	background-color: var(--dark-purple);
}

/* THIS SOLUTION FOR ALL OTHER BROWSERS for some reason */
.cbx input:checked + label {
	-webkit-animation: splash 0.6s ease forwards;
	-moz-animation: splash 0.6s ease forwards;
	-ms-animation: splash 0.6s ease forwards;
	-o-animation: splash 0.6s ease forwards;
	animation: splash 0.6s ease forwards;
	border: 1px solid #7154ff;
	background-color: var(--dark-purple);
}

.cbx input:checked + label + svg path {
	stroke-dashoffset: 0;
}

@-moz-keyframes splash {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb,
			0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}
	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
			32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
			-32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}
@-webkit-keyframes splash {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb,
			0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}
	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
			32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
			-32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}
@-o-keyframes splash {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb,
			0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}
	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
			32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
			-32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}
@keyframes splash {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb,
			0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}
	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
			32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
			-32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}

.upload-file-name {
	position: absolute;
	left: 5%;
	margin-top: 3px;
}

.upload-file-remove {
	position: relative;
	right: calc(-44% + -1px);
	top: 3px;
}

.file-upload-error {
	position: absolute;
	top: 100%;
	margin-top: 10px;
	padding: 10px;
}

.file-upload-error p {
	margin-top: -10px;
	font-size: 0.85em;
	color: var(--darker-grey);
	font-weight: 500;
	font-family: 'rubik';
}

.file-upload-error p::after {
	display: block;
	width: 50px;
	height: 1px;
}

.file-upload-error li {
	background-color: #ff4b4b;
	border-radius: 15px;
	border: 1px solid #970000;
	margin: 3px 0px;
	padding: 2px 20px;
	width: 100%;
	font-size: 0.95em;
	color: #fff;
	font-family: 'roboto';
	font-weight: 300;
}

.upload-section .file-upload form,
.upload-section .text-upload form {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.upload-section .file-upload form input[type='file'] {
	display: none;
}

.file-upload-container {
	position: relative;
	border: 5px dashed var(--dark-grey);
	/* background-color: var(--light-purple); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	border-radius: 20px;
	width: 100%;
	color: var(--dark-grey);
	cursor: pointer;
}

.upload-section .file-upload form label,
.upload-section .text-upload form label {
	background-color: var(--clickable-filed-btn-color-grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 20px;
	border-radius: 20px;
	width: 100%;
	color: var(--dark-grey);
}

.upload-section .file-upload form button,
.upload-section .text-upload form button {
	margin-top: 30px;
	padding: 5px 15px;
	text-align: center;
	border: 2px solid var(--dark-purple);
	border-radius: 30px;
	background-color: var(--white);
	color: #8e7dda;
	font-weight: 600;
	width: 30%;
	font-size: 16px;
	min-width: 100px;
}

.upload-section .file-upload form Button:hover,
.upload-section .text-upload form button:hover {
	border: 2px solid var(--dark-purple);
	background-color: var(--dark-purple);
	color: var(--white);
	cursor: pointer;
}

.upload-section .file-upload form .fakeButton,
.upload-section .text-upload form .fakeButton {
	margin-top: 30px;
	padding: 5px 15px;
	text-align: center;
	border: 2px solid var(--dark-purple);
	border-radius: 30px;
	background-color: var(--white);
	color: #8e7dda;
	font-weight: 600;
	width: 30%;
	min-width: 100px;
	font-size: 16px;
}

.upload-section .file-upload form .fakeButton:hover,
.upload-section .text-upload form .fakeButton:hover {
	color: var(--white);
	cursor: not-allowed;
}

.upload-section i {
	margin-bottom: 10px;
}

.upload-section .file-upload h2,
.upload-section .text-upload h2 {
	color: var(--dark-purple);
	margin-bottom: 8px;
}

.file-upload,
.text-upload {
	position: relative;
}

.upload-section .text-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 40%;
}

.upload-section .text-upload form textarea {
	background-color: var(--clickable-filed-btn-color-grey);
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	color: var(--dark-grey);
	font-size: 16px;
	resize: none;
	height: 100%;
}

.upload-section .text-upload form button {
}

.upload-icon {
	position: absolute;
	top: 39%;
	left: calc(50% - 56px);
}

.upload-icon svg g {
	fill: #cecece;
}

.text-icon-before {
	position: absolute;
	top: 38%;
	font-family: times;
	font-size: 72px;
	color: #cecece;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 375px;
	background-color: var(--primary-blue);
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px 15px;
	position: absolute;
	z-index: 1;
	bottom: 156%;
	right: -30px;
}

.tooltip .tooltiptext-bottom {
	visibility: hidden;
	width: 375px;
	background-color: var(--text-info-bg-black);
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px 15px;
	position: absolute;
	z-index: 113;
	top: 150%;
	right: -30px;
}

.tooltiptext li {
	font-size: 0.55em;
	padding: 1px;
}

.tooltiptext-bottom li {
	font-size: 0.55em;
	padding: 1px;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 89%;
	margin-left: -5px;
	border-width: 6px;
	border-style: solid;
	border-color: var(--primary-blue) transparent transparent transparent;
}

.tooltip .tooltiptext-bottom::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 89%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--text-info-bg-black) transparent transparent transparent;
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip:hover .tooltiptext-bottom {
	visibility: visible;
}

.how-section {
	height: 100vh;
	width: 100vw;
	background-color: var(--white);
	border: 1px solid #ccc;
}

.how-section h1 {
	font-size: var(--h1-font-size);
	color: var(--dark-purple);
	padding: 20px 0;
	text-align: center;
}

.how-section .card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	height: 70%;
	margin-top: 30px;
}

.how-section .card-container .card {
	background: white;
	height: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: flex-start;
	border-radius: 20px;
	border: 1px solid var(--light-grey);
	box-shadow: -2px 4px 20px 6px rgb(222, 222, 222);
	padding-left: 25px;
	position: relative;
	padding-top: 33%;
	width: 100%;
}

.card h2 {
	position: absolute;
	top: 23px;
	left: 0;
	width: 100%;
	color: var(--dark-grey);
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	text-align: center;
}

.card ul li {
	list-style: inside;
	margin-bottom: 10px;
	color: var(--dark-purple);
}

.card img {
	margin-top: 6%;
}

.slideshow-how-to-use-container {
	display: none;
}

.slideshow-how-to-use-container .slide-container div 
.react-slideshow-container .react-slideshow-wrapper .images-wrap 
div .each-slide > div {
	display: flex;
}

/* About Section */
/* 
/*
*/
.about {
	height: 100vh;
	width: 100vw;
}

.about .about-title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--dark-grey);
	height: 15%;
	background: #b4b5f9;
	width: 100%;
	border-top: 1px solid #440e6b;
	border-bottom: 1px solid #440e6b;
}

.about-title h1 {
	font-size: var(--h1-font-size);
	color: #440f6b;
}

.about-main {
	background: url('maze-light-purple.png') center center/cover no-repeat #8e7dda;
	height: 70%;
	width: 100%;
}

.about-main .about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #8e7dda;
	box-shadow: 0px 11px 10px 5px rgba(46, 74, 117, 1);
	height: 100%;
}

.about-main .about-content div h6 {
	text-align: center;
	font-size: 1.25em;
	margin-top: -5%;
	margin-bottom: 15px;
}

.about-main .about-content div p {
	color: var(--lightest-grey);
	text-align: center;
	padding: 0px 6%;
}

.about-pics {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.member {
	margin: 0px 25px;
}

.member-info h5 {
	font-size: 0.9em;
	font-weight: 600;
	margin: -3px 0px;
	margin-bottom: -8px;
}

.member-links {
	position: relative;
	left: 2px;
	top: 3px;
	width: 36px;
	display: flex;
	font-size: 16px;
	margin: 4px 0px;
	align-items: center;
	justify-content: space-between;
}

.fa-linkedin {
	color: var(--light-grey);
}
.fa-github {
	color: var(--light-grey);
}
.fa-linkedin:hover {
	color: var(--white);
}
.fa-github:hover {
	color: var(--white);
}

.footer {
	background-color: #440e6b;
	height: 15%;
	border-top: 2px solid #36005f;
}

.text {
	text-align: center;
	width: 80%;
}




/* Navbar toggle */

/*
.file-title .btn-sidebar {
	width: 40px;
	position: absolute;
	top: 10px;
	right: 5px;
	height: 40px;
	border: 1px solid var(--white);
	border-radius: 5px;
	background: var(--white);
}
*/

.btn-sidebar {
	top: calc(7% - 3vh + -20px);
    left: 13px;
	width: 40px;
    position: absolute;
    height: 40px;
    border: none;
    border-radius: 5px;
	background: #ffffff00;
}


.btn-sidebar svg {
	position: absolute;
    top: 9px;
    right: 3px;
}

.btn-sidebar svg > g {
	fill: var(--light-purple);
}

.btn-sidebar:hover svg > g {
	fill: var(--white);
}





/* Slideshow */
.slide-container {
	width: 80%;
	margin: auto;
}


.each-slide > div {
	/* 
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 65vh;
	border: none;
	box-shadow: -2px 4px 20px 6px rgb(222, 222, 222);
	position: relative;
	padding-top: 18%;
	width: 100%;
	*/
	

	display: block;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 75vh;
	border: none;
	box-shadow: -2px 4px 20px 6px rgb(222, 222, 222);
	position: relative;
	padding-top: 0%;
	width: 79%;
	margin: 0 auto;
}



.each-slide span {
	padding: 0px;
	font-size: 20px;
	text-align: center;
	font-size: 1em;
}

.each-fade {
	display: flex;
}

.each-fade .image-container {
	width: 75%;
	overflow: hidden;
}

.each-fade .image-container img {
	width: 100%;
}

.each-fade h2 {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #adceed;
}

.react-slideshow-wrapper.slide {
	width: 100%;
	overflow: hidden;
	min-width: 269px;
	/* height: 70vh; */
}


.block-on-sidebar-active {
	position: relative;
	width: 10%;
	height: 80%;
	border: 1px solid var(--light-grey);
	border-radius: var(--small-round-radius);
	overflow: hidden;
	margin-right: 5%;
	margin-top: -5px;
}



/****************************/
/*	Media Query Section		*/
/****************************/

/* Workspace: "Ask button fails to work" */
@media (max-width: 1395px) {
}

/* sidebar closes */
@media (max-width: 1269px) {
	.more-jumbotron {
		width: 85%;
	}
}


/* Before iPAD Pro */
@media (max-width: 1025px) {
	.nav-links {
		left: 0px;
	}

	.each-slide span {
		padding: 0px;
		font-size: 0.95em;
		margin-top: 1px;
	}
}


/* Info button text is outside of box */
@media (max-width: 945px) {
	.tooltip .tooltiptext {
		width: 280px;
	}

	.tooltip .tooltiptext::after {
		left: 85%;
	}

}

@media (max-width: 850px) {
	.rm-small-devices {
		display: none;
	}

	.text {
		left: 0px !important;
	}

	.card-container {
		display: none !important;
	}

	.slideshow-how-to-use-container {
		display: flex;
	}

	.each-slide > div {
		width: 88%;
	}
}


/* Just below iPAD standing size */
@media (max-width: 767px) {
	.fa-question-circle {
		display: none;
	}

	.file-upload ul {
		width: 100%;
	}
}

/* Iphone 6/7/8 height */
@media (max-height: 668px) {
	.each-slide > div {
		height: 80vh;
	}
}

@media (max-width: 696px) {
	.own-logo-subtitle {
		display: none;
	}
	.logo-container {
		display: none;
	}
	
	.nav-links {
		left: -5%;
	}

	.sidebar {
		top: 0px;
		height: 100%;
	}
	
	.files ul li span:last-child {
		top: 25%;
	}

	.carousel__item .card {
		padding: 30% 17%;
	}

	.sidebar {
		min-width: 225px; 
	}

	.sidebar .files ul li { 
		margin-top: 20px;
	}
	
}

@media (max-width: 525px) {
	p,
	span {
		font-size: 0.825em;
	}
	h1 {
		font-size: 2.1em;
	}
	.jumbotron .title h1 {
		font-size: 2.1em;
	}
	.jumbotron .title p {
		padding: 0 20px;
	}
	.how-section h1 {
		font-size: 2.1em;
	}
	.about-title h1 {
		font-size: 2.1em;
	}
	.own-nav-content ul li a {
		padding: 10px;
	}

	.upload-section .file-upload h2,
	.upload-section .text-upload h2 {
		font-size: 1.3em;
	}
	h2 {
		font-size: 1.45rem;
	}
	.card h2 {
		font-size: 1.45rem;
	}
	.about-main .about-content div h6 {
		font-size: 1.025em;
		margin-top: -10%;
	}
	ul li {
		font-size: 0.9em;
	}
	.card {
		padding-left: 0px;
	}
	.card ul li {
		font-size: 0.9em;
		margin-bottom: 6px;
	}
	.carousel__item .card {
		padding: 30% 15%;
	}

	.rm-smallest-devices {
		display: none;
	}

	.each-slide > div {
		width: 100%;
	}

}

@media (max-width: 440px) {
	.member {
		margin: 0px 2%;
	}
	.member-info h5 {
		font-size: 0.8em;
		font-weight: 600;
	}
}

@media (max-width: 350px) {
	.sidebar .files ul {
		padding-top: 5px;
	}
}



.main-content > div > div:last-child {
	left: 0px !important;
}


/* .btn-sidebar .btn-on-sidebar */


	



