python-multipart==0.0.5
wget==3.2
joblib==0.13.2
pandas==0.25.0
prettytable==0.7.2
transformers==2.8.0
scikit_learn==0.21.2
tika==1.19
torch==1.4.0
markdown==3.1.1
tqdm==4.38.0
click>=7.0
future>=0.15.2
jinja2>=2.7
fastapi==0.65.2
uvicorn==0.11.7
gunicorn==20.0.4
nltk==3.4.5
networkx==2.4
codetiming==1.2.0
